* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: white;
    font-family: Tahoma, sans-serif;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 30px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header p {
    color: #94a3b8;
}

.search-section {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    height: 55px;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 18px;
}

.search-box button {
    width: 130px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
}

.quick-filters {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.chat-area {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.bot-message,
.user-message {

    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    line-height: 1.8;

}

.bot-message {
    background: #1e293b;
}

.user-message {
    background: #2563eb;
}

.result-card {

    background: #111827;
    border-radius: 15px;
    padding: 20px;
    margin-top: 15px;

}

.result-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.copy-btn {

    margin-top: 10px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 15px;
    margin-top: 15px;

}

.gallery img {

    width: 100%;
    border-radius: 15px;

}
